---
import environments from "../data/environments";

import Badge from '@components/Badge.astro';
import SocialPill from '@components/SocialPill.astro';

import WhatsAppIcon from '@components/icons/WhatsApp.astro';
import LinkedInIcon from '@components/icons/LinkedIn.astro';
import GitHubIcon from '@components/icons/GitHub.astro';
import GmailIcon from '@components/icons/Gmail.astro';
import TelegramIcon from '@components/icons/Telegram.astro';
import ProfessionalLogoIcon from '@components/icons/ProfessionalLogo.astro';
---

<div class="flex gap-4 mb-4">

    <!-- <ProfessionalLogoIcon class="rounded-md shadow-lg size-24 mb-2 bg-white"/> -->
    <img 
        class="rounded-full shadow-lg size-20 mb-2" 
        src="/images/profilePhoto.png" 
        alt="logo"
    />

    <a 
        href={`https://www.linkedin.com/in/${environments.userLinkedin}`} 
        target="_blank" 
        rel="noopener noreferrer"
        class="flex justify-center items-center">

        <Badge> Disponible para trabajar </Badge>
    </a> 
</div>

<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
    Hey, soy {environments.fullNameDeveloper} 
    <span class="fi fi-ve"></span>
</h1>

<p class="text-xl lg:text-2xl text-wrap max-w-[700px]">
    <span class="">+2 años de experiencia.</span> 
    <strong>
        <span class="text-green-300/100">Desarrollador Full-Stack. Especializado en la automatización de procesos.</span>
    </strong>
</p>

<nav class="flex gap-4 mt-6 flex-wrap">
    <SocialPill href={`https://www.linkedin.com/in/${environments.userLinkedin}`}>
        <LinkedInIcon class="size-4 md:size-6" />
        LinkedIn
    </SocialPill>

    <SocialPill href={`https://github.com/${environments.userGithub}`}>
        <GitHubIcon class="size-4 md:size-6" />
        GitHub
    </SocialPill>

    <SocialPill href={`mailto:${environments.email}?subject=Contacto&body=Hola, ${environments.nameDeveloper}!`}>
        <GmailIcon class="size-4 md:size-6" />
        Gmail
    </SocialPill>

    <SocialPill href={`https://api.whatsapp.com/send?phone=${environments.phoneNumber}&text=Hola,%20${environments.nameDeveloper}!`}>
        <WhatsAppIcon class="size-4 md:size-6" />
        WhatsApp
    </SocialPill>

    <SocialPill href={`https://t.me/${environments.userTelegram}`}>
        <TelegramIcon class="size-4 md:size-6" />
        Telegram
    </SocialPill>
    
</nav>